:root {
  --cinza-escuro: #11212;
  --um-d: #1d1d1d;
  --branco: #f2f0ef;
  --preto: #0d0d0d;
  --roxo: #8a2be2;
  --violeta-escuro: #1d1b20;
  --cinza: #2a2a2a;
  --roxo-hover: #6938e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--violeta-escuro);
  color: var(--branco);
  
}

.login-container {
  margin: 30px;
  display: flex;
  width: 100%;
  max-width: 1100px;
  height: 700px;
  background: var(--um-d);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(124, 77, 255, 0.589);
}

/* Lado esquerdo */
.login-image {
  flex: 1;
  background: var(--roxo);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.login-image img {
  max-width: 80%;
  filter: drop-shadow(0 0 20px rgba(0,0,0,0.5));
}

/* Lado direito */
.login-form {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: var(--roxo);
}

.login-form p {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--branco);
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.input-group label {
  margin-bottom: 8px;
  font-size: 14px;
}
.input-group input {
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: var(--cinza);
  color: var(--branco);
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}
.input-group input:focus {
  border: 2px solid var(--roxo);
}

.btn-login {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 50px;
  background: var(--roxo);
  color: var(--branco);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-login:hover {
  background: var(--roxo-hover);
}

.extra-links {
  margin-top: 20px;
  text-align: center;
}
.extra-links a {
  color: var(--roxo);
  text-decoration: none;
  font-size: 14px;
}
.extra-links a:hover {
  color: var(--roxo-hover);
}
.extra-links p {
  margin-top: 10px;
  font-size: 14px;
  color: var(--branco)
}

/* Responsivo */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }
  .login-image {
    height: 250px;
  }
  .login-form {
    padding: 40px 20px;
  }
  .login-container {
    flex-direction: column;
    height: auto;
        margin:30px;
  }
  .login-image {
    display: none; /* Oculta a imagem em telas menores */
  }
  .login-form {
    padding: 40px 20px;

  }
}
